<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <title>Login</title>
  <style>
      body {
    font-family: 'Raleway', sans-serif;
    background-color: #e7e7e7;
}
.wrapper {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 3% auto;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    overflow: hidden;
}

.login-text {
    width: 800px;
    height:650px;
    /* background: linear-gradient(to left, #ab68ca, #de67a3);  */
    background: linear-gradient(to bottom, #dd2476, #ff512f);
    position: absolute;
   
    box-sizing: border-box;
    padding: 6%;
   
}

.text {
    margin-left: 20px;
    color: #fff;
    
}
a ,a:visited{

        font-size: 36px;
        color: #fff;
        text-decoration: none;  
        font-weight: bold;
        display: block;
    }

    hr {
        width: 10%;
        float: left;
        background-color: #fff;
        font-size: 16px;
    }

    input {
        margin-top: 30px;
        height: 40px;
        width: 300px;
        border-radius: 2px;
        border: none;
        background-color: #444;
        opacity: 0.6;
        outline: none;
        color: #fff;
        padding-left: 10px;
    }

    input[type=text] {
        margin-top: 60px;
    }

    button {
        margin-top: 60px;
        height: 40px;
        width: 140px;
        outline: none;
    }

    .login-btn {
        background: #fff;
        border: none;
        border-radius: 2px;
        color: #696a86;
    }

    .signup-btn {
        background: transparent;
        border: 2px solid #fff;;
        border-radius: 2px;
        color: #fff;
        margin-left: 30px;
    }


.cta {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #696a86;
    border: 2px solid #fff;
    position: absolute;
    bottom: -30px;
    left: 370px;
    color: #fff;
    outline: none;
    cursor: pointer;
    z-index: 11;
}

.call-text {
    background-color: #fff;
    width: 800px;
    height: 450px;
    position: absolute;
    bottom: 0;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
}
    h1 {
        font-size: 42px;
        margin-top: 10%;
        color: #696a86;
    }

        span {
            color: #333;
            font-weight: bolder;
            
        }
    

    button {
        height: 40px;
        width: 180px;
        border: none;
        border-radius: 20px;
        /* background: linear-gradient(to left, #ab68ca, #de67a3);  */
        background: linear-gradient(to bottom, #dd2476, #ff512f);
        color: #fff;
        font-weight: bolder;
        margin-top: 30px;
        cursor: pointer;
        outline: none;
    }




.inc{
    background: linear-gradient(to bottom, blue, red);
}


  </style>
</head>
<body>
  <div class="wrapper">
    <div class="login-text">
     
     
      <div class="text">
        <form action="/" method="post">
        <a href="/">Invalid Details</a>
        <hr>
        <br>
        <input type="text" name="name" class="inc" placeholder="Username">
        <br>
        <input type="password" name="pswd" class="inc" placeholder="Password">
        <br>
        <button class="login-btn" >Log In</button>
    
        
      </div>
    </div>
</form>
<button class="signup-btn" onclick="window.location.href='/register'">Sign Up</button>
    <!-- <div class="call-text" >
      <h1>Welcome To <span>KEC</span> Library</h1>
      <button onclick="window.location.href='/register'">Register</button><br>
      <button onclick="window.location.href='/adminreg'">Admin</button>
    </div> -->
  
  </div>

</body>

</html>



